<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="">
    <meta name="author"
          content="">
    <link rel="icon"
          href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="dashboard.css"
          rel="stylesheet">
    <title>failed login</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <H1>Failed Login</H1>
            <form>
                <p><a th:href="password">I'v forgotten my password</a></p>
                <!--zapomnialem hasla i zostane przekierowany do panelu odnowienia hasla
                uztkownik otrzyma maila z nowym haslem lub linkiem do panelu zmiany hasla-->

                <p><a th:href="index">powrot do strony glownej</a></p>
            </form>
        </main>
    </div>
</div>

</body>
</html>