<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="">
    <meta name="author"
          content="">
    <link rel="icon"
          href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="dashboard.css"
          rel="stylesheet">
    <title>login page</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <H1>strona logowania</H1>
            <!--uzytkownik poda wszystkie dane a nastepnie zostana one sprawdzone w bazie danych czh istnieja
            jesli tak to uzystkownik zostanie zalogowany do swojego kona-->
                <!--<form action="#" th:action="@{/login}" th:object="${user}" method="post">
                    <p>nickname</p><input type="text" th:field="${user.nick}">
                    <p>password</p><input type="password" th:field="${user.password}">-->
            <form action="#" th:action="@{/login}" th:object="${loginForm}" method="post">
                <p>nickname</p><input type="text" th:field="${loginForm.nick}">
                <p>password</p><input type="password" th:field="${loginForm.password}">
                    <input type="submit" value="submit">
                    <!--uzytkownik podaje nick i haslo, dane sa sprawdzane w bazie USER czy istnieja
                    jesli tak to uzytkownik zostaje przekierowany do swojego panelu youAreLoggedIn.html w innym
                    wypadku zostanie zwrocony komunikat z serwera o nieprawidlowych danych-->


                    <p><a th:href="newUser">I'm new user</a></p>
                    <!--jestem nowym uzytkownikiem i zostane przekierowany do panelu rejestracji-->

                    <p><a th:href="password">I'v forgotten my password</a></p>
                    <!--zapomnialem hasla i zostane przekierowany do panelu odnowienia hasla
                    uztkownik otrzyma maila z nowym haslem lub linkiem do panelu zmiany hasla-->

                    <p><a th:href="index">powrot do strony glownej</a></p>
                </form>
        </main>
    </div>
</div>

</body>
</html>