<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="">
    <meta name="author"
          content="">
    <link rel="icon"
          href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="dashboard.css"
          rel="stylesheet">
    <title>new user form</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h1>new user</h1>
            <!--uzytkownik podaje dane, jesli istnieja to zostanie poproszony o podanie innych w innym
            wypadku uzytkownik zostanie stworzony i zostanie poproszony o zalogowanie sie przez
            panel logowania, zostanie tam przekierowany-->
                <form>
                    <p>nick</p><input type="text">
                    <p>email</p><input type="email">
                    <input type="submit">
                    <!--uzytkownik podaje nicka i emaila jesli jedno z pol istnieje w bazie danych
                    uzytkownik otrzyma z serwera informacje o istniejacych danych, bedzie wiedziec ktore
                    z pol istnieje-->
                    <!--ewentualnie po wyslaniu danych trzeba bedzie samemu nacisnac link do logowania-->
                    <p><a th:href="login">powrot do strony logowania</a></p>
                </form>
        </main>
    </div>
</div>
</body>
</html>