<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="">
    <meta name="author"
          content="">
    <link rel="icon"
          href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="dashboard.css"
          rel="stylesheet">

    <title>logged in</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

            <h1>you are logged in</h1>
            <h2>as a: <!--dane uzytkownika po zalogowaniu--></h2>
            <p><a href="settings.html">ustawienia uzytkownika</a></p>
            <!--po kliknieciu uzytkownik zostaje przekierowany na swoja strone ustawien w tym zmiany hasla-->
            <p><a href="youAreLoggedOut.html">logout</a></p>
            <!--po kliknieciu linku logout uzytkownik zostaje przekierowany na strone wylogowanego uzytkownika-->

        </main>
    </div>
</div>

</body>
</html>